<button><a href="/clients/log_reg">Login & Register</a></button>
<h1>streetchow</h1>
<p>connecting bums with grub</p>
<form class="clients" action="clients/<%=:id%>" method="get">
  <input type="text" name="search" placeholder="Search..">
  <input type="submit" name="" value="show">
</form>

<<<<<<< HEAD



<div class="locations">
  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>street</th>



      </tr>
    </thead>

    <tbody>
      <% @clients.each do |client| %>
        <tr>
          <td><%= client.name %></td>
          <td><%= client.street %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
=======
<label>
  <form class="search" action="index.html" method="post">
  </form>

<div id="googleMap" ></div>
<script>
function myMap() {
var mapProp= {
    center:new google.maps.LatLng(34.055459, -118.248343),
    zoom:5,
};
var map=new google.maps.Map(document.getElementById("googleMap"),mapProp);
}
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAeY0-kwtQVjqjGPffbZFazDxWI27RXIt0&callback=myMap"></script>
</label>
>>>>>>> a1a153c7bf129cc7cadf8acd0b3c6fe645bc1bef
