<html lang="en">
    <head>
		<meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- All the files that are required -->
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <link href='http://fonts.googleapis.com/css?family=Varela+Round' rel='stylesheet' type='text/css'>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.13.1/jquery.validate.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />

    <% if flash[:errors] %>
      <% flash[:errors].each do |error| %>
        <%= error %>
      <% end %>
    <% end %>
<!-- Where all the magic happens -->
<!-- LOGIN FORM -->
<form action="/sessions" method="post">
<input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
<div class="text-center" style="padding:50px 0">
	<div class="logo">login</div>
	<!-- Main Form -->
  <div class="login-form-1">
		<form id="login-form" class="text-left">
			<div class="login-form-main-message"></div>
			<div class="main-login-form">
				<div class="login-group">
					<div class="form-group">
            <label for="email" class="sr-only">emailaddress</label>
              <input type="email" class="form-control" name="email" placeholder="email">
  					</div>
					<div class="form-group">
						<label for="lg_password" class="sr-only">Password</label>
						<input type="password" class="form-control" id="lg_password" name="password" placeholder="password">
					</div>
				</div>
				<button type="submit" class="login-button"><i class="fa fa-chevron-right"></i></button>
			</div>
		</form>
	</div>
	<!-- end:Main Form -->
</div>
</form>

<!-- REGISTRATION FORM -->
<form action="/clients" method="post">
<input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
<div class="text-center" style="padding:50px 0">
	<div class="logo">register</div>
	<!-- Main Form -->
	<div class="login-form-1">
		<form id="register-form" class="text-left">
			<div class="login-form-main-message"></div>
			<div class="main-login-form">
				<div class="login-group">
					<div class="form-group">
						<label for="organization" class="sr-only">Organization</label>
						<input type="text" class="form-control" id="organization" name="client[name]" placeholder="organization">
					</div>
          <div class="form-group">
						<label for="email" class="sr-only">Email</label>
						<input type="email" class="form-control" id="email" name="client[email]" placeholder="email">
					</div>
					<div class="form-group">
						<label for="password" class="sr-only">Password</label>
						<input type="password" class="form-control" id="password" name="client[password]" placeholder="password">
					</div>
					<div class="form-group">
						<label for="password_confirmation" class="sr-only">Password Confirm</label>
						<input type="password" class="form-control" id="password_confirmation" name="client[password_confirmation]" placeholder="confirm password">
					</div>
					<div class="form-group">
						<label for="street" class="sr-only">street</label>
						<input type="text" class="form-control" id="street" name="client[street]" placeholder="street">
					</div>
          <div class="form-group">
						<label for="city" class="sr-only">city</label>
						<input type="text" class="form-control" id="city" name="client[city]" placeholder="city">
					</div>
          <div class="form-group">
						<label for="state" class="sr-only">state</label>
						<input type="text" class="form-control" id="state" name="client[state]" placeholder="state">
					</div>
          <div class="form-group">
						<label for="zip" class="sr-only">zip</label>
						<input type="zip" class="form-control" id="zip" name="client[zip]" placeholder="zip">
					</div>
				</div>
				<input type="submit" name="" value="submit">

		</form>
	</div>
	<!-- end:Main Form -->
</div>
		</form>
	</div>
</form>
	<!-- end:Main Form -->
</div>
	</body>
</html>
